h1 {
    font-size: 60px;
    color: rgb(11, 122, 243);
}

#cv-subtitle {
    font-size: 18px;
    color: rgb(11, 122, 243);
    margin: 0.5rem 0 0rem 0
}

#webaddress {
    margin: 0rem 0 2rem 0
}

h2 {
    font-size: 24px;
    color: rgb(11, 122, 243);
}

h3 {
    font-size: 18px;
    color: rgb(11, 122, 243);
}

li {
    margin: 1rem 0.5rem 1rem 2rem ;

}

#xp {
    font-weight: bold;
}

p {
    margin: 1rem 0.5rem 1rem 2rem ;
    margin-left: 2rem ;
}